<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>developer-id</string>

	<key>teamID</key>
	<string>RPDDQP7KZ5</string>

	<key>signingStyle</key>
	<string>manual</string>

	<key>provisioningProfiles</key>
	<dict>
		<key>com.robstout.tokenomics</key>
		<string>Tokenomics Developer ID</string>
		<key>com.robstout.tokenomics.widgets</key>
		<string>Tokenomics Widget Developer ID</string>
	</dict>

	<key>signingCertificate</key>
	<string>Developer ID Application</string>
</dict>
</plist>
